<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polling Web Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_file.css') }}">
</head>
<body>
    <div class="header" style="background-color: {{color}}">
        <div class="left" style="color: white; border: 1px solid white">
            <p>Polling Web App</p>
        </div>
        <div class="right">
            <a href="{{ url_for('register')}}">
                <div class="button">
                    <p>Login/Register</p>
                </div>
            </a>
        </div>
    </div>

    <div class="main">
        <div class="logo">
            <img src="static/images/img2.png" alt="">
        </div>
        <div class="content">
            <p>You can <strong>Create</strong>, <strong>Update</strong>, <strong>Delete</strong> your Poll. You can also share the generated link to your friends/students, so that they can answer to your poll.
                You can also set up the time to end poll. You can also get the statistics for each poll in the form of graphs.
            </p>
        </div>
    </div>

     <div class="getstart">
        <a href="{{ url_for('register')}}">
            <div class="button">
                <p>Create a Poll  
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="20" 
                    viewBox="0 0 350 350" xml:space="preserve">
                        <desc>Created with Fabric.js 1.7.22</desc>
                        <defs>
                        </defs>
                        <g id="icon"
                            style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                            transform="translate(-1.9444444444444287 -1.9444444444444287) scale(3.89 3.89)">
                            <path
                                d="M 71.79 34.614 c -0.334 -0.497 -0.926 -0.745 -1.513 -0.63 l -18.311 3.528 l 3.718 -35.877 c 0.071 -0.682 -0.332 -1.32 -0.979 -1.55 c -0.648 -0.229 -1.362 0.011 -1.738 0.585 L 18.202 53.746 c -0.328 0.5 -0.325 1.144 0.008 1.639 c 0.33 0.493 0.922 0.742 1.513 0.632 l 18.312 -3.529 l -3.718 35.876 c -0.071 0.684 0.332 1.322 0.979 1.551 C 35.455 89.971 35.622 90 35.792 90 c 0.502 0 0.965 -0.251 1.241 -0.67 l 34.765 -53.076 C 72.126 35.754 72.122 35.11 71.79 34.614 z"
                                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                                transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                        </g>
                    </svg>
                </p>
            </div>
        </a>
    </div>

    <div class="public">
        <div class="publicpoll">
            <div class="title">
                <p>Public Polls</p>
            </div>
            <div class="subtitle">
                <p>Below are the public polls created from the users of PollingWebAPP</p>
            </div>
            <div class="pollcards">
                {% for i in range(len) %}
                <div class="card">
                    <div class="votecount">
                        <div class="count1">
                            <!-- <p>123 votes</p> -->
                        </div>
                    </div>
                    <div class="cardinfo">
                        <div class="author">
                            <p>{{data[i][0]}}</p>
                        </div>
                        <div class="question">
                            <p>{{data[i][1]}}</p>
                        </div>
                        <div class="polltime">
                            <a href="{{data[i][2]}}" style="text-decoration: none;">
                            <div class="poll">
                                <p>Poll It</p>
                            </div>
                            </a>
                            <div class="time">
                                <p>About <strong>{{data[i][3]}} ago</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>



</body>
</html>